<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdX0q_1vP_NEZpoVqJSUMpMctLXmQXpAc</string>
	<key>GCM_SENDER_ID</key>
	<string>115732873363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tomatoGame</string>
	<key>PROJECT_ID</key>
	<string>tomatogame-79380</string>
	<key>STORAGE_BUCKET</key>
	<string>tomatogame-79380.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115732873363:ios:ab3155800f1a81e431cd66</string>
</dict>
</plist>